/* styles that apply both admin and client "Contact Details" */

.contactDetails_all{
    width: 75%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-evenly;
    text-align: center;

    margin: 0 auto;
    margin-top: 15px;
    padding: 0;
    grid-gap: 0 4%;
}
.contactDetails_all i{
    font-size: 3em;
    grid-row: 1/2;
    text-decoration: none;
}
.title1, .title2, .title3{
    font-size: 1.5em;
    grid-row: 2/3;
    overflow-wrap: break-word;
}
#contactPage .title1, #contactPage .title2, #contactPage .title3{
    color: rgb(146, 73, 31);
}
#info1, #info2, #info3, #infoEntry1, #infoEntry2, #infoEntry3{
    grid-row: 3/4;
}
/* primarily for spacing in Internet Explorer since display: grid is not fully supported */
#contactPage .opHours, #contactPage .addressDetails, #contactPage .contactInfo{
    margin: 15px 0px;
    overflow-wrap: break-word;
}




/* styles for the client contact page */

#contactPage{
    font-size: 17px;
    text-align: center;
}
p#info1, p#info2, p#info3{
    white-space: pre-line;
}
#contactPage form{
    box-sizing: border-box;
    overflow-x: auto;
    background-color: transparent;
    border-radius: 5px;
    margin: 20px auto;
    padding: 15px;
    width: 70%;
    text-align: center;
    font-size: 1em;
}
#contactPage #booking{
    text-align: center;
}
/* the below are for all input types*/
#contactPage input[type=text], #contactPage input[type=date], #contactPage input[type=email], #contactPage input[type=number], #contactPage input[type=tel], #contactPage input[type=time], #contactPage select, #contactPage textarea {
    box-sizing: border-box;
    padding: 12px;
    border: 1px solid #dfaf8b;
    border-radius: 4px;
    margin: 10px 0;
}
/* the below are solely for those inputs in the form which are table cells found in a table display*/
#contactPage input[type=text], #contactPage input[type=date], #contactPage input[type=email], #contactPage input[type=number], #contactPage input[type=tel], #contactPage input[type=time] {
    width: 100%; /* input takes % width of cell*/
}
#contactPage button{
    width: 85px;
    height: 40px;
    background-color: rgb(223, 190, 147);
    border: none;
    color: black;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
}
#contactPage button#booking-button{
    background-color: rgb(146, 73, 31);
    color: white;
}
/* the below are for the submit and reset buttons */
.submit-reset input{
    box-sizing: border-box;
    padding: 12px 20px;
    margin: 10px;
    border-radius: 4px;
    background-color: rgb(223, 190, 147);
    border: 1px solid rgb(185, 144, 90);
    cursor: pointer;
    text-align: center;
    width: 85px;
    height: 40px;
}
.submit-reset input:hover, .submit-reset input:active{
    color: white;
    background-color: rgb(146, 73, 31);
    border-color: transparent;
}

/* the below are styles specifically in regards to the switching of forms and the buttons which enable so */
#booking{
    display: block;
}
#query{
    display: none;
}
#form-switch-buttons{
    text-align: center;
    padding: 20px;
    border-top: 2px solid rgb(146, 73, 31);
    margin: 0 10px;
}
#form-switch-buttons button{
    margin: 0 10px;
}

/* styles in relation to table display in client contact page forms */
#query-table, #booking-table{
    border-spacing: 20px 0px;
}

/* the below are styles solely for the Query form*/
#contactPage select, #contactPage textarea{
    width: 75%;
}
.block-div{
    display: block;
    /* each division is treated like a block element, hence each division starts on a new line */
}
#contactPage textarea{
    resize: none;
    height: 100px;
}




/* styles for the admin contact page */
.contactDetails_all textarea{
    width: 250px;
    height: 150px;
    overflow-wrap:break-word; 
    resize: none;
}
.contactDetails_all input[type=submit]{
    width: 150px;
}

/* styles for the telephone, mobile number and email entry area, as well as the table within the client contact page forms */
#infoEntry3, #query-table, #booking-table{
    display: table;
    margin: 0 auto;
}
#query-table, #booking-table{
    width: 100%;
}
#infoEntry3, #query-table{
    text-align: left;
}
.table-row{
    display: table-row;
}
.table-row > p, .input-cell, .label-cell, #booking-submit-reset{ /* " .table-row > input " left out as it would alter viewing in Internet Explorer */
    display: table-cell;
}
#infoEntry3 input[type=text]{
    width: 125px;
}
/* styles for the 'Edit All' button */
#contactEditAllButton{
    text-align: center;
    width: 75%;
    margin: 0 auto;
    padding-top: 20px;
}
/* styles for the section in which the user can change the email which receives bookings/queries */
#emailChange{
    padding-top: 35px;
}
#emailChange input[type=submit]{
    width: 100px;
}




/* styling in relation to window-resizing */

/* styling that applies to admin contact page when the window width is 1300px or less*/
@media only screen and (max-width: 1300px) {
    .main .contactDetails_all{ grid-template-columns: auto; grid-template-rows: auto auto auto auto auto auto;}

    .main .opHours, .main .addressDetails, .main .contactInfo{ padding: 15px; }
    .main .opHours{ grid-area: 1 / 1 / 2 / 2; }
    .main .addressDetails{ grid-area: 2 / 1 / 3 / 2; }
    .main .contactInfo{ grid-area: 3 / 1 / 4 / 2; }
}
/* styling that applies to admin and client contact pages when the window width is 1000px or less*/
@media only screen and (max-width: 1000px) {
    .contactDetails_all{ grid-template-columns: auto; grid-template-rows: auto auto auto auto auto auto;}

    .opHours, .addressDetails, .contactInfo{ padding: 15px; }
    .opHours{ grid-area: 1 / 1 / 2 / 2; }
    .addressDetails{ grid-area: 2 / 1 / 3 / 2; }
    .contactInfo{ grid-area: 3 / 1 / 4 / 2; }
}